
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
*{
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
}
body{
	max-width:100%;
	
}
.titles{
    word-spacing: 60px;
    margin-left: 20%;
    width: 50%;
    
}
.titles a{
    text-decoration: none;
    color: gray;
}

header{
    display: flex;
    width: 100%;
    margin: 20px;
}
.main1{
    display: flex;
    flex-direction: column;
}
h1{
	font-size: 80px;
    width: 20%;
    margin-left: 30%;
    margin-top: 6%;


}
.start{
	font-size: 15px;
	text-align: center;
	border: 1px solid black;
	font-family: "arial";
	width: 10%;
    margin-bottom: 100px;
    padding: 10px;
    margin-left: 31%;
	


}
.photo{

	position: absolute;
	vertical-align: top;
	margin-left:700px;
	margin-top: 120px;
	top: 0;
}

.info1{
    display: flex;
    margin: 50px;
    font-size: 20px;

}
.feature{
    margin-left: 17%;
    width: 80%;
    
}
	.about{
        margin-right: 15%;
        width: 80%;
    }


.info2{
    display: flex;
   
    margin: 50px;
    font-size: 20px;
}
.middle{
	width: 60%;
    margin-left: 250px;
}
.services{
    margin-left: 17%;
}
.vision{
    margin-right: 15%;
}
.product{
    margin-left: 1%;
    margin-right: 1%;
    
}
.contact{
    margin-left: 300px;
    font-size: 20px;
}
address{
	font-size: 15px;
	width: 15%;
	margin: 10px 0px 0px 300px;

}
.number{
	font-size: 15px;
	width: 15%;
	margin: 10px 0px 0px 300px;
}
.email{
	font-size: 15px;
	width: 15%;
	margin: 10px 0px 0px 300px;
}
.copyright{
	text-align: center;
}



@media (max-width: 500px){
    *{
       
        width: 90%;
    }
    
    header{
        display: flex;
        flex-direction: column-reverse;
    }
    .logo{
        width: 35%;
        
        
    }
    .titles{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        text-decoration: none;
        margin-top: 5%;
       
    }
    .titles a{
        text-decoration: none;
        color: grey;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        margin-left: 20%;
    }
    
    h1{
        text-align: center;
        width: 60%;
        padding-left: 0%;
        padding-right: 10%;
        
    }
    .start{
        text-align: center;
       margin-left: 70%;
        width: 20%;
        border: 1px solid black;
        font-size: 100%;
        padding-left: 10%;
        padding-right: 25%;
    }
    .info1{
        flex-wrap:wrap;
        width: 100%;
    }
   
    }
    .feature{
        margin-bottom: 50px;
        font-size: 80%;
        width: 100%;
    }
    
  .info2{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
     
  }
  .vision, .services, .product{
      margin-top: 10%;
      width: 500px;
      font-size: 80%;
  }
    .contact, address, .email, .number{
        margin: 20px;
        padding: 0px;
        width: 30%;
    }
    .copyright{
        margin-top: 50px;
    }
    .photo{
        display: none;
        
    }
    .middle{
        margin-left: 220px;
        margin-right: 0%;
       
    }
    .about{
        font-size: 78%;
        margin-right: 0%;
        margin-left: 10%;
    }
    .feature{
     margin-left: 10%;
    }
    .services{
        width: 100%;
    }

 
 
    @media (max-width: 1200px){
     *{
         margin-left: 10%;
         margin-right: 10%;
     }
   header{
    flex-wrap: wrap-reverse;
   }
   .titles{
       margin-left: 10%;
       width: 120%;
       word-spacing: 80px;
   }
   .main1 h1{
       margin-left: 33%;
   }
   .logo{
       margin-bottom: 30px;
       margin-left: 35%;
    
   }
   .titles a{
    text-decoration: none;
    color: grey;
   }
.info2{
    flex-direction: row;
}
 .vision, .services, .product{
     width: 200px;
   margin: 5%;
   margin: 5%;
 
   }
   .feature, .about{
       margin-left: 5%;
       margin-right: 5%;
   }
   .start{
     margin-left: 35%;
     width: 15%;
   }
    
    .photo{
        display: none;
    }
    .main1{
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .middle{
        width: 80%;
        margin-left: 9%;
 
    }
    .contact, .number, .email, address{
        margin-left: 100px;
    }
 }


